attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==5.2.0
ConfigParser==7.2.0
cryptography==46.0.3
docutils==0.22.4
filelock==3.20.3
flameprof==0.4
graphviz==0.21
grpc==1.0.0
grpc_status==1.0.0
h2==4.3.0
HTMLParser==0.0.2
ipykernel==7.1.0
ipython==9.9.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
memory_profiler==0.61.0
numpy==2.4.1
protobuf==6.33.4
psutil==7.2.1
pyarrow==22.0.0
pyodide==0.0.2
pyOpenSSL==25.3.0
pyspark_connect==4.1.1
pytest==9.0.2
PyYAML==6.0.3
redis==7.1.0
scikit_learn==1.8.0
scipy==1.17.0
setuptools==80.9.0
simplejson==3.20.2
Sphinx==9.1.0
thread==2.0.6
torcheval==0.0.7
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.25.0
